# ----------------------------
# DATA (never commit raw data)
# ----------------------------
data/raw/

# ----------------------------
# TRAINED MODELS
# ----------------------------
outputs/models/

# ----------------------------
# METRICS / ANALYSIS RESULTS
# ----------------------------
outputs/metrics/

# ----------------------------
# LOG FILES
# ----------------------------
outputs/logs/
*.log

# ----------------------------
# JUPYTER
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# PYTHON
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ----------------------------
# ENVIRONMENT FILES
# ----------------------------
environment.yml